<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "{{ site.baseurl }}/assets/main.css" }}">
  {%- feed_meta -%}
  <script src="{{ "{{ site.baseurl }}/assets/javascript/bootstrap/jquery.min.js" }}"></script>
  <script src="{{ "{{ site.baseurl }}/assets/javascript/bootstrap/bootstrap.bundle.min.js" }}"></script>
  <link rel="stylesheet" href="{{ "{{ site.baseurl }}/assets/css/normalize.css" }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ "{{ site.baseurl }}/assets/javascript/search_content.js" }}"></script>
  <link rel="stylesheet" href="{{ "{{ site.baseurl }}/assets/css/search.css" }}">
  <script src="{{ "{{ site.baseurl }}/assets/javascript/search_set.js" }}"></script>
  <script src="{{ "{{ site.baseurl }}/assets/javascript/search.min.js" }}"></script>
</head>
